DATABASE_URL="postgresql://bookmark_app:bookmark_app_password@localhost:5433/personal_bookmark_manager"
PORT="3001"
OIDC_ISSUER="https://dev-yg.us.auth0.com/"
OIDC_AUDIENCE="https://bbl-candidate-test-api"
OIDC_JWKS_URI="https://dev-yg.us.auth0.com/.well-known/jwks.json"
FRONTEND_ORIGIN="http://localhost:3000"
